body {
    background: rgb(190,255,230);
    background: linear-gradient(90deg, rgba(190,255,230,1) 0%, rgba(176,201,69,1) 41%, rgba(200,246,255,1) 100%); /* Change background color */
    font-family: 'Roboto', sans-serif;
    text-align: center; /* Center all text horizontally */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    margin: 0 auto; /* Center the container horizontally */
    max-width: 1200px; /* Set maximum width for the content */
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Include padding in the width calculation */
}

h1, h2 {
    color: #003366; /* Change text color to rich blue */
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center header container horizontally */
    margin-bottom: 30px; /* Add margin to the bottom of the header container */
}

.logo {
    margin: 0 10px; /* Apply margin to all sides of the logo */
    border-radius: 10px; /* Apply border-radius to all images */
}

img {
    margin: 10px auto; /* Apply margin to all images */
    display: block; /* Make images block-level elements */
    border-radius: 30px; /* Apply border-radius to all images */
}

.first-paragraph-frame {
    border: 2px solid #003366; /* Add border around the first paragraph section */
    padding: 20px; /* Add padding to create space between text and border */
    margin-bottom: 20px; /* Add margin to the bottom of the first paragraph section */
    max-width: 600px; /* Set maximum width for better readability */
    border-radius: 15px; /* Apply border-radius to soften the edges */
    text-align: left; /* Align text to the left */
    overflow: auto; /* Add overflow auto to handle overflow content */
    margin-left: auto; /* Add margin to the left */
    margin-right: auto; /* Add margin to the right */
}

.my-photo {
    float: left; /* Float the photo to the left */
    margin-right: 20px; /* Add margin to the right of the photo for spacing */
}

ul, ol {
    text-align: left; /* Align lists' text to the left */
}

a {
    color: #007bff; /* Change link color */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

a:hover {
    color: chocolate; /* Change link color on hover */
}